[Unit]
Description=Node exporter
After=network-online.target
Requires=node_exporter.socket

[Service]
EnvironmentFile=/etc/default/node_exporter
User=nodeexporter
Group=nodeexporter
Restart=always
ExecReload=/bin/kill -HUP $MAINPID
ExecStart=/bin/sh -c 'exec /usr/bin/node_exporter --web.systemd-socket ${ARGS}'

[Install]
WantedBy=multi-user.target
